.divider {
    display: flex;
    align-items: center;
    width: 100%;
  }
  
  .horizontal hr {
    flex-grow: 1;
    border-top: none;
  }
  
  .horizontal .dividerText {
    margin: 0 10px;
    white-space: nowrap;
  }
  
  .vertical {
    flex-direction: column;
    height: 100%;
  }
  
  .vertical hr {
    flex-grow: 1;
    border-left: none;
    width: auto;
    height: 100%;
  }
  
  .vertical .dividerText {
    margin: 10px 0;
  }
  
  .dividerText {
    font-size: 14px;
    color: #000;
  }
  