@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import "./assets/styles/variables";
@import "./assets/styles/base";
user-name
.landing-page-background {
  min-height: 100vh;
  background-image: url("./assets/images/background-login.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center; /* Center content horizontally */
  align-items: center; /* Center content vertically */
}

.home-background{
 
}

.dashboard-container{
  width:100%;
}


.content__content-bar{
  width:100%;
}

.landing-form__container {
  width: 100%;
  margin: 60px 20px 60px 20px;
  border-radius: 12px;
  /*border: 1px solid rgb(243, 243, 243);*/
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.landing-form {
  background-color: rgb(255, 255, 255);
  padding: 20px 12px 40px 12px;
  border-radius: 12px;
}

.landing-form__logo-container {
  display: flex;
  justify-content: center;
}

.landing-form__logo-image {
  height: 50px;
}

.landing-form__box .landing-form__header-one {
  margin-top: 30px;
  color: #f10000;
  text-align: center;
  margin-bottom: 5px;
}

.landing-form__box .landing-form__header-two {
  font-size: 12px;
  color: #5f5f5f;
  text-align: center;
  margin-bottom: 30px;
  font-weight: 400;
}

.landing-form__input-box-container {
  height: 60px;
  padding-bottom: 64px;
}

.landing-form__inputs-box {
  display: flex;
  flex-direction: column;
}

.landing-form__input {
  height: 100%;
  outline: none;
  flex-grow: 1;
  border: none;
  background-color: inherit;
  width: 100%;
  color: #4b4b4b;
}

.landing-form__input:focus,
.landing-form__input:hover {
  border: none;
  outline: none;
}

.landing-form__input-box {
  display: flex;
  align-items: center;
  border: 1px solid rgb(214, 214, 214);
  border-radius: 5px;
  height: 40px;
  padding-left: 7px;
  transition: border-color 0.3s;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.landing-form__input-box:hover,
.landing-form__input-box:focus-within {
  border: 1px solid rgb(255, 158, 158);
}

.landing-form__input-icon {
  color: rgb(131 131 131);
  width: 12px;
  margin-right: 5px;
  margin-left:5px;
}

.landing-form__inputs-box .landing-form__span {
  font-size: 12px;
  color: rgb(255, 80, 80);
  /* margin-bottom:15px; */
  margin-top: -5px;
}

.landing-form__input-icon--eye {
  color: rgb(100, 100, 100);
  width: 15px;
  margin-right: 10px;
  cursor: pointer;
}

.landing-form__checkbox-link-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
}

.landing-form__checkbox-box {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.landing-form__input--checkbox {
  margin-right: 5px;
}

.landing-form__checkbox-label {
  font-size: 12px;
  color: #5f5f5f;
  font-weight: 500;
}
.landing-form__button {
  background: linear-gradient(45deg, rgb(255, 86, 86), rgb(64, 64, 255));
  margin: 20px 2px;
}

.landing-form__button:hover {
  background: linear-gradient(45deg, rgb(255, 0, 0), rgb(55, 0, 255));
}

.landing-form__radio-container {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  border: 1px solid rgb(214, 214, 214);
  border-radius: 5px;
  padding: 10px;
}

.landing-form__radio-container:hover,
.landing-form__radio-container:focus-within {
  border: 1px solid rgb(255, 158, 158);
}

.landing-form__radio-button {
  margin-right: 15px;
}

.landing-form__calender-container {
  margin-bottom: 20px;
}

.react-datepicker__view-calendar-icon input {
  border: 1px solid rgb(214, 214, 214);
  border-radius: 5px;
}

.react-datepicker__input-container {
  display: flex !important;
  align-items: center !important;
}

/******************************/
/*        Register page       */
/*****************************/

/*progress bar*/
.steps {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 10px 0;
  margin-bottom: 20px;
}

.steps__content-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.steps__content-number {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  color: white;
  background: rgb(184, 184, 184);
}

.steps__content-container .steps__content-text {
  font-size: 12px;
  color: rgb(158, 158, 158);
  text-align: center;
  margin-top: 10px;
}

.landing-form__progress-bar-container {
  width: 100%;
}

.landing-form__progress-bar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.landing-form__progress-bar-box {
  width: 100%;
  margin-top: 30px;
  background-color: #cecece;
  border-radius: 5px;
  height: 5px;
}

.landing-form__progress-bar-level {
  height: 100%;
  border-radius: 5px;
  background-color: rgb(98, 224, 110);
  /*transition: width 2s;*/
}

.landing-form__progress-bar .landing-form__progress-bar-text {
  margin-top: 7px;
  color: #5f5f5f;
  font-size: 13px;
}

.landing-form__progress-bar-button-group {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 15px;
}

.landing-form__progress-bar-buttons {
}

.landing-form__progress-bar-button-group-text {
  cursor: pointer;
  color: rgb(0, 135, 245);
  font-weight: 500;
}

/*MEDIA SCREEN FOR AUTH PAGES*/

@media only screen and (min-width: 425px) {
  .landing-form__container {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
  }
}

@media only screen and (min-width: 768px) {
  .landing-form__container {
    background-image: url("./assets/images/form-image.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 85%;
    display: flex;
    justify-content: right; /* Center content horizontally */
    align-items: center; /* Center content vertically */
  }

  .landing-form {
    width: 50%;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
}

@media only screen and (min-width: 1024px) {
  .landing-form__container {
    width: 55%;
  }
}

@media only screen and (min-width: 1440px) {
  .landing-form__container {
    width: 800px;
  }
}

/******************************/
/*        User dashboard       */
/*****************************/

.main-container {
  display: flex;
  width: 100%;
}

.content {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.sidebar {
  display: none;
  height: 100vh;
}

.sidebar__unordered-list {
  display: flex;
  flex-direction: column;
}

.sidebar__unordered-list a {
  color: $gray;
}

.header {
  display: flex;
  align-items: center;
  height: 60px;
  background: white;
  padding: 5px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  border-bottom: 1px solid rgb(221, 221, 221);
}

.nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav__logo {
  height: 35px;
}

.nav__menu-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav__menu-image {
  height: 35px;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 3px;
  margin-right: 8px;
}

.nav__menu-icon {
  color: rgb(255, 13, 182);
}

.nav__menu-icon__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  padding: 5px;
  border-radius: 50%;
  margin-right: 5px;
  transition: border-color 1s ease-in-out;
  cursor: pointer;
}

.nav__menu-icon__wrapper-cog {
  background-color: rgb(255, 228, 228);
}

.nav__menu-icon__wrapper-cog:hover {
  border: 1px solid rgb(255, 186, 186);
  background-color: rgb(255, 203, 203);
}

.nav__menu-icon__wrapper-bell {
  background-color: rgb(230, 228, 255);
}

.nav__menu-icon__wrapper-bell:hover {
  border: 1px solid rgb(187, 186, 255);
  background-color: rgb(208, 203, 255);
}

.nav__menu-icon__wrapper-bars {
  background-color: rgb(241, 241, 241);
}

.nav__menu-icon__wrapper-bars:hover {
  border: 1px solid rgb(184, 184, 184);
  background-color: rgb(180, 180, 180);
}

.nav__menu-icon-cog {
  color: $primary-color;
}

.nav__menu-icon-bell {
  color: $secondary-color;
}

.nav__menu-icon-bars {
  color: black;
}

/*header-hamburger*/
.header-hamburger {
  width: 150px;
  right: 10px;
  top: 40px;
  position: absolute;
  z-index: 1000;
  background-color: white;
  border: 1px solid rgb(236, 236, 236);
}

.search-input-container {
  margin-top: 10px;
  height: 50px;
  padding: 0 10px;
}

.image-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 50px;
  margin-top: 10px;
  padding: 5px 10px;
  background: linear-gradient(45deg, rgb(255, 86, 86), rgb(64, 64, 255));
}

.image-container .credential-text{
  color:white;
}

.image-container .credential-span{
  color:white;
}

.card-student-info-container {
  width: 100%;
  padding: $card-padding;
}

.cards-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0 9px 9px 9px;
}

.cards-container__inner-box {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0;
}

.card-student-info {
  height: 80px;
  background-color: #030244;
}

.card {
  flex: 1;
}

.card__card--blue {
  background-color: #a7b4ff;
  margin-right: 10px;
}

.card__card--red {
  background-color: #ffaeae;
}

.card__card--green {
  background-color: #9dffd1;
  margin-right: 10px;
}

.card__card--black {
  background-color: #525252;
}

.card-pending {
  display: flex;
  flex-direction: column;
  width: 70%;
  height: 100px;
  color: white;
}

.card-pending__title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #2a4afd;
  height: 40px;
}

.admission-container {
  display: flex;
  align-items: center;
  margin-top: 15px;
  background: linear-gradient(45deg, rgb(255, 86, 86), rgb(64, 64, 255));  padding: 12px 0;
}

.admission-text-container {
  display: flex;
  flex-direction: column;
}

.icon-door-open {
  margin-right: 15px;
  margin-left: 10px;
  color: $secondary-color;
  font-size: 30px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 3px;
  padding: 8px;
  background: #ffffff;
  border-radius: 5px;
}

.admission-text {
  text-transform: capitalize;
  color: rgb(255, 255, 255);
}

.admission-text-span {
  color: rgb(255, 255, 255);
}

.modal-body__span-text {
  font-weight: bold;
}

.modal-title {
  color: rgb(255, 255, 255);
}

.upload-credentials__asterisk{
  color:red;
}

.upload-credentials__span{
  font-size:13px;
}

.bootstrap-cards-container {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: $card-padding;
}

.bootstrap-cards-inner-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bootstrap-card {
  margin-bottom: 10px;
  width: 100%;
  box-shadow: rgba(19, 19, 19, 0.35) 0px 5px 15px;
}

.admin-credentials-visibility{
  display:none;
}

.admin-card-link:hover{
  box-shadow: rgba(255, 45, 45, 0.589) 0px 5px 15px;
}

@media only screen and (min-width: 425px) {
  .bootstrap-cards-container{
    
  }
}

@media only screen and (min-width: 768px) {
  .bootstrap-cards-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .bootstrap-cards-inner-box {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
  }

  .bootstrap-card {
    margin: 10px;
    height: 390px;
  }
}

@media only screen and (min-width: 1024px) {
  .content {
    display: flex;
    flex: 4;
  }

  .bootstrap-cards-inner-box{
    flex:1;
  }

  .bootstrap-card{
    height:350px;
  }

  .content__content-bar {
  }

  .bootstrap-cards-container {
    display: flex;
    flex-direction: row;
  }

  .sidebar {
    flex: 1;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .sidebar__link {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 6px 10px;
    margin-bottom: 6px;
    border-radius: 5px;
  }

  .sidebar__link:hover {
    background: rgba(131, 131, 252, 0.589);
  }

  .sidebar__link-active {
    background: rgba(23, 23, 255, 0.589);
    color: white;
  }

  .sidebar__list-span-icon {
    margin-right: 12px;
    font-size: 24px;
  }

  .sidebar__list-span-text {
    text-transform: uppercase;
    font-weight: bold;
  }

  .nav__logo {
    display: none;
  }

  .sidebar__logo-image-container {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 65px;
  }

  .sidebar__logo-image {
    height: 40px;
  }

  .sidebar__list-container {
    background: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.671),
        rgba(0, 0, 0, 0.788)
      ),
      url("./assets/images/sidebar-back.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    padding: 20px 10px 10px 10px;
  }
}

@media only screen and (min-width: 1440px) {

  .main-container{
    margin-left:auto;
    margin-right:auto;
    width:1440px;
  }

  .bootstrap-card{
    height:375px;
  }

  .sidebar {
    flex: 1;
  }

  .content__content-bar {
    flex: 5;
  }

}

/******************************/
/*       Credentials page    */
/******************************/

.credentials {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: $card-margin;
}

.credentials__table-box {
  width: 100%;
  padding: $card-padding;
  border: 1px solid rgb(224, 224, 224);
  border-radius: 7px;
  background: white;
  margin-bottom: 10px;
}

.nav {
  font-weight: bold;
}

.nav-link {
  font-size: 15px;
}

.credentials__table-title-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.credentials__table-title {
  font-family: "roboto";
  font-weight: 600;
  font-size: 25px;
}

.credentials__table-title-icon {
  font-size: 15px;
  color: white;
  background: linear-gradient(to right, #1172f1, #004bad);
  border-radius: 3px;
  padding: 5px;
  cursor: pointer;
}

.credentials__infograph-box {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.credentials__table-wrapper {
  scrollbar-width: thin;
  overflow-x: auto;
  white-space: nowrap;
  margin-top: 10px;
}

.credentials__table-wrapper::-webkit-scrollbar {
  height: 6px;
}

.credentials__table-wrapper::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 3px;
}

.credentials__table-wrapper::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

/******************************/
/*     Credentials All Info    */
/******************************/
.card {
  padding: $card-padding;
  border: 1px solid rgb(224, 224, 224);
  border-radius: 7px;
  background: white;
}

.image-name-button-wrapper{
  display:flex;
  align-items: center;
  justify-content: space-between;
  width:100%;
}

.image-name-wrapper{
  display:flex;
  align-items: center;
}

.user-name {
  margin: $card-margin;
  display: flex;
  align-items: center;
  flex-direction: row;
}

.user-image {
  border-radius: 10px;
  height: 70px;
  width: 70px;
  margin-right: 12px;
  box-shadow: 0 0.3125rem 0.625rem 0 rgba(0, 0, 0, 0.12);
}

.user-fullname-email {
  display: flex;
  flex-direction: column;
}

.user-info-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.user-info {
  margin: 0 $card-padding $card-padding $card-padding;
}

.user-text {
  margin-bottom: 10px;
}

.user-heading-name {
  display: flex;
  align-items: center;
  margin-bottom: 2px;
}

.user-name-value {
}

.user-heading {
  margin-right: 5px;
}

.user-personal-info {
}

.user-button-groups {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 6px $card-padding $card-padding $card-padding;
}

.user__button--view {
  margin-right: 5px;
  margin-bottom: 5px;
}

@media only screen and (min-width: 375px) {
  .user__button--view {
    margin-bottom: 0;
  }
}
