@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import './assets/styles/variables';
@import './assets/styles/base';

.landing-page-background {
  min-height: 100vh;
  background-image: url("./assets/images/background-login.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center; /* Center content horizontally */
  align-items: center; /* Center content vertically */
}

.landing-form__container {
  width: 100%;
  margin: 60px 20px 60px 20px;
  border-radius: 12px;
  /*border: 1px solid rgb(243, 243, 243);*/
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.landing-form {
  background-color: rgb(255, 255, 255);
  padding: 20px 12px 40px 12px;
  border-radius: 12px;
}

.landing-form__logo-container {
  display: flex;
  justify-content: center;
}

.landing-form__logo-image {
  height: 50px;
}

.landing-form__box .landing-form__header-one {
  margin-top: 30px;
  color: #f10000;
  text-align: center;
  margin-bottom: 5px;
}

.landing-form__box .landing-form__header-two {
  font-size: 12px;
  color: #5f5f5f;
  text-align: center;
  margin-bottom: 30px;
  font-weight: 400;
}

.landing-form__input-box-container {
  height: 60px;
  padding-bottom: 64px;
}

.landing-form__inputs-box {
  display: flex;
  flex-direction: column;
}

.landing-form__input {
  height: 100%;
  outline: none;
  flex-grow: 1;
  border: none;
  background-color: inherit;
  width: 100%;
  color: #4b4b4b;
}

.landing-form__input:focus,
.landing-form__input:hover {
  border: none;
  outline: none;
}

.landing-form__input-box {
  display: flex;
  align-items: center;
  border: 1px solid rgb(214, 214, 214);
  border-radius: 5px;
  height: 40px;
  padding-left: 7px;
  transition: border-color 0.3s;
}

.landing-form__input-box:hover,
.landing-form__input-box:focus-within {
  border: 1px solid rgb(255, 158, 158);
}

.landing-form__input-icon {
  color: rgb(202, 202, 202);
  width: 12px;
  margin-right: 5px;
}

.landing-form__inputs-box .landing-form__span {
  font-size: 12px;
  color: rgb(238, 33, 33);
  /* margin-bottom:15px; */
  margin-top: -5px;
}

.landing-form__input-icon--eye {
  color: rgb(100, 100, 100);
  width: 15px;
  margin-right: 10px;
  cursor: pointer;
}

.landing-form__checkbox-link-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
}

.landing-form__checkbox-box {
  display: flex;
  align-items: center;
  cursor:pointer;
}

.landing-form__input--checkbox {
  margin-right: 5px;
}

.landing-form__checkbox-label {
  font-size: 12px;
  color: #5f5f5f;
  font-weight: 500;
}
.landing-form__button {
  background: linear-gradient(45deg, rgb(255, 86, 86), rgb(64, 64, 255));
  margin: 20px 2px;
}

.landing-form__button:hover{
  background: linear-gradient(45deg, rgb(255, 0, 0), rgb(55, 0, 255));
}

.landing-form__radio-container{
  display:flex;
  align-items: center;
  margin-bottom:20px;
  border: 1px solid rgb(214, 214, 214);
  border-radius: 5px;
  padding: 10px;
}

.landing-form__radio-container:hover,
.landing-form__radio-container:focus-within {
  border: 1px solid rgb(255, 158, 158);
}

.landing-form__radio-button{
  margin-right:15px;
}

.landing-form__calender-container{
  margin-bottom:20px;
}

.react-datepicker__view-calendar-icon input {
  border: 1px solid rgb(214, 214, 214);
  border-radius: 5px;
}

.react-datepicker__input-container{
  display:flex !important;
  align-items: center !important;
 
}

/******************************/
/*        Register page       */
/*****************************/


/*progress bar*/
.steps{
  display:flex;
  align-items: flex-start;
  justify-content: space-between;
  padding:10px 0;
  margin-bottom:20px;
  }
  
.steps__content-container{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
  flex: 1;
  }
  
.steps__content-number{
  display:flex;
  align-items:center;
  justify-content: center;
  width:40px;
  height:40px;
  border-radius: 50%;
  color:white;
  background:rgb(184, 184, 184);
  }
  
.steps__content-container .steps__content-text{
  font-size: 12px;
  color:rgb(158, 158, 158);
  text-align: center;
  margin-top:10px;
  }

.landing-form__progress-bar-container{
  width:100%;
}

.landing-form__progress-bar{
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.landing-form__progress-bar-box{
  width:100%;
  margin-top:30px;
  background-color: #cecece;
  border-radius:5px;
  height:5px
}

.landing-form__progress-bar-level{
  height:100%;
  border-radius:5px;
  background-color: rgb(98, 224, 110);
  /*transition: width 2s;*/
}

.landing-form__progress-bar .landing-form__progress-bar-text{
  margin-top:7px;
  color:#5f5f5f;
  font-size: 13px;
}

.landing-form__progress-bar-button-group{
  width:100%;
  display:flex;
  align-items: center;
  justify-content: space-between;
  margin-top:15px;
}

.landing-form__progress-bar-buttons{
 
}

.landing-form__progress-bar-button-group-text{
  cursor:pointer;
  color:rgb(0, 135, 245);
  font-weight: 500;
}


/*MEDIA SCREEN FOR AUTH PAGES*/

@media only screen and (min-width: 425px) {
  .landing-form__container {
    width: 75%;
  }
}

@media only screen and (min-width: 768px) {
  .landing-form__container {
    background-image: url("./assets/images/form-image.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 85%;
    display: flex;
    justify-content: right; /* Center content horizontally */
    align-items: center; /* Center content vertically */
  }

  .landing-form {
    width: 50%;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
}

@media only screen and (min-width: 1024px) {
  .landing-form__container {
    width: 55%;
  }
}

@media only screen and (min-width: 1440px) {
  .landing-form__container {
    width: 800px;
  }
}


/******************************/
/*        User dashboard       */
/*****************************/

.dashboard-container{
width:100%;
}

.content{
  width:100%;
}
.sidebar{
  display:none;
}

.content__content-bar{
  width:100%
}

.header{
  display:flex;
  align-items:center;
  height:60px;
  background: white;
  padding:5px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  border-bottom:1px solid rgb(221, 221, 221);
}

.nav{
  width:100%;
  display:flex;
  align-items:center;
  justify-content: space-between;
}

.nav__logo{
  height:35px;
}

.nav__menu-box{
  display:flex;
  align-items: center;
  justify-content: space-between;
}

.nav__menu-image{
  height:35px;
  border-radius:50%;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 3px;
  margin-right:8px;
}

.nav__menu-icon{
  color:rgb(189, 189, 189);
}

.nav__menu-icon__wrapper{
  display:flex;
  align-items:center;
  justify-content: center;
  width:30px;
  height:30px;
  padding:5px;
  border-radius:50%;
  margin-right:5px;
  transition:border-color 1s ease-in-out;
  cursor: pointer;
}

.nav__menu-icon__wrapper-cog{
  background-color: rgb(255, 228, 228);
}

.nav__menu-icon__wrapper-cog:hover{
  border:1px solid rgb(255, 186, 186);
  background-color:rgb(255, 203, 203) ;
}

.nav__menu-icon__wrapper-bell{
  background-color: rgb(230, 228, 255);
}

.nav__menu-icon__wrapper-bell:hover{
  border:1px solid rgb(187, 186, 255);
  background-color:rgb(208, 203, 255) ;
}

.nav__menu-icon__wrapper-bars{
  background-color: rgb(241, 241, 241);
}

.nav__menu-icon__wrapper-bars:hover{
  border:1px solid rgb(184, 184, 184);
  background-color: rgb(180, 180, 180);
}

.nav__menu-icon-cog{
  color:$primary-color;
}

.nav__menu-icon-bell{
  color:$secondary-color;
}

.nav__menu-icon-bars{
  color:black;
}

/*header-hamburger*/
.header-hamburger{
  width: 150px;
  right: 10px;
  top: 40px;
  position: absolute;
  z-index: 1000;
  background-color: white;
  border:1px solid rgb(236, 236, 236);
}

.search-input-container{
  margin-top:10px;
  height:50px;
  padding:0 10px;
}

.image-container{
  display:flex;
  align-items: center;
  justify-content: space-between;
  width:100%;
  height:50px;
  margin-top:10px;
  padding:5px 10px;
}

.card-student-info-container{
  width:100%;
  padding:$card-padding;
}

.cards-container{
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width:100%;
  padding:0 9px 9px 9px;
}

.cards-container__inner-box{
  width:100%;
  display:flex;
  align-items: center;
  justify-content: space-between;
  margin:0;
}

.card-student-info{
  height:80px;
  background-color: #030244;
}

.card{
  flex: 1; 
  height: 100px;
}

.card__card--blue{
  background-color: #a7b4ff;
  margin-right:10px;
}

.card__card--red{
  background-color: #ffaeae;
}

.card__card--green{
  background-color: #9dffd1;
  margin-right:10px;
}

.card__card--black{
  background-color: #525252;
}

.card-pending{
  display:flex;
  flex-direction: column;
  width:70%;
  height:100px;
  color:white;
}

.card-pending__title{
  display:flex;
  align-items: center;
  justify-content: space-between;
  background-color: #2a4afd;
  height:40px;
}

.admission-container{
  display:flex;
  align-items: center;
  margin-top:15px;
  background-color: $primary-color;
  padding:12px 0;

}

.admission-text-container{
  display:flex;
  flex-direction: column;
}

.icon-door-open{
  margin-right:15px;
  margin-left:10px;
  color:$secondary-color;
  font-size:30px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 3px;
  padding:8px;
  background: #ffadad;
  border-radius: 5px;
}

.admission-text{
  text-transform: capitalize;
  color:rgb(255, 255, 255);
}

.admission-text-span{
  color:rgb(255, 255, 255);

}

.modal-body__span-text{
  font-weight:bold;
}

.modal-title{
  color:rgb(255, 255, 255);
}

.bootstrap-cards-container{
  margin-top:20px;
  display:flex;
  flex-direction: column;
  align-items: center;
  padding:$card-padding;
}

.bootstrap-cards-inner-box{
  display:flex;
  flex-direction: column;
  align-items: center;
}

.bootstrap-card{
  margin-bottom:10px;
  width:100%;
  box-shadow: rgba(19, 19, 19, 0.35) 0px 5px 15px;
}

.modal-header {
  background: $primary-color;}

@media only screen and (min-width: 425px) {

}

 @media  only screen and (min-width: 768px) {

  .bootstrap-cards-container{
    display:flex;
    flex-direction: column;
    align-items:center;
  }

   .bootstrap-cards-inner-box{
    display:flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
   }

   .bootstrap-card{
    margin:10px;
    height:500px;
   }

 }

 @media only screen and (min-width: 1024px) {

  .content{
    display:flex;
  }

  .content__content-bar{
    flex:4;
  }
  
  .bootstrap-cards-container{
    display:flex;
    flex-direction: row;
  }

   .sidebar {
    flex:1;
    background-color: rgb(228, 228, 228);
    height: 100vh;
    display:flex;
    flex-direction: column;
    align-items: center;
  }

   .nav__logo{
   display:none;
   }

   .sidebar__logo-image{
     height:40px;
     margin-top:20px;
   }

   .content__content-bar{
     flex:4;
   }
 }

 @media only screen and (min-width: 1440px) {
   .sidebar{
     flex:1;
   }
   .content__content-bar{
     flex:5;
   }
 }



