body {
  /* background-image: url("./../public/images/background.jpg");
background-repeat: no-repeat;
background-size: cover; */
  margin: 0;
  margin:0;
  font-family: 'Arimo', 'Roboto',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

